In [1]:
import sqlite3

In [2]:
c = sqlite3.connect("xyz")

In [3]:
c.execute('drop table if exists abc')

In [4]:
c.execute("create table abc(id int, name text, score int)")

In [7]:
c.execute("insert into abc(id, name, score) values(1, 'ola', 100)")
c.execute("insert into abc(id, name, score) values(2, 'ola', 101)")
c.execute("insert into abc(id, name, score) values(3, 'ola', 102)")
c.execute("insert into abc(id, name, score) values(4, 'ola', 103)")
c.execute("insert into abc(id, name, score) values(5, 'ola', 104)")
c.execute("insert into abc(id, name, score) values(6, 'ola', 105)")
c.execute("insert into abc(id, name, score) values(7, 'ola', 106)")
c.execute("insert into abc(id, name, score) values(8, 'ola', 107)")

In [8]:
c.commit()

In [11]:
for i in c.execute("select * from abc "):
    print (i)

(1, 'ola', 100)
(1, 'ola', 100)
(2, 'ola', 101)
(3, 'ola', 102)
(4, 'ola', 103)
(5, 'ola', 104)
(6, 'ola', 105)
(7, 'ola', 106)
(8, 'ola', 107)

In [14]:
for i in c.execute("select * from abc order by id desc"):
                   print(i)

(8, 'ola', 107)
(7, 'ola', 106)
(6, 'ola', 105)
(5, 'ola', 104)
(4, 'ola', 103)
(3, 'ola', 102)
(2, 'ola', 101)
(1, 'ola', 100)
(1, 'ola', 100)

In [16]:
for i in c.execute("select * from abc where  score = 105"):
                   print(i)

(6, 'ola', 105)

In [17]:
for i in c.execute("select id, name from abc where id = 4 and name = 'ola' "):
                   print(i)

(4, 'ola')

In [18]:
c = sqlite3.connect("uvw")

In [19]:
c.execute("drop table if exists def")

In [22]:
c.execute("create table def(id int, country text, age int)")

In [25]:
c.execute("insert into def(id, country, age) values(1, 'United Kingdom', 27)")
c.execute("insert into def(id, country, age) values(1, 'United State', 28)")
c.execute("insert into def(id, country, age) values(1, 'Canada', 37)")
c.execute("insert into def(id, country, age) values(1, 'China', 47)")

In [27]:
c.commit()